In [1]:
for num in range(2000, 3200 + 1):
    if num % 7 == 0 and not (num % 5 == 0):
        print(num, end = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [2]:
mylist = list(filter(lambda num: (num % 7 == 0 and num % 5 != 0), range(2000, 3200 + 1)))

In [3]:
out = []
for num in mylist:
    num = str(num)
    out.append(num)
print(",".join(out))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [4]:
def fact(num):
    if num > 0:
        return num * fact(num-1)
    else:
        return 1
num = int(input("Enter The Number: "))
print(fact(num))

Enter The Number: 5
120

In [5]:
n = int(input("The Limit Of My Dictionary: "))
d = dict()
for i in range(1, n+1):
    d[i] = i*i
print(d)

The Limit Of My Dictionary: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [6]:
# Dictionary Comprehension

In [7]:
d = {i: i*i for i in range(1, n+1)} # We must enter i: otherwise it's a set comprehension

In [8]:
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [9]:
table = str.maketrans(",", " ")
mystring = "34,67,65,33,12,98".translate(table)

In [10]:
mystring.split()

['34', '67', '65', '33', '12', '98']

In [11]:
tuple(mystring.split())

('34', '67', '65', '33', '12', '98')

In [12]:
def square(num):
    return num ** 2
print(square(3))

9

In [13]:
def add(num1, num2):
    return num1 + num2
add(1,3)

4

In [14]:
def int_to_string(num):
    return str(num)
int_to_string(1234)

'1234'

In [15]:
def check_len(s1, s2):
    if len(s1) > len(s2):
        print(s1)
    elif len(s2) > len(s1):
        print(s2)
    else:
        print(s1 + "\n" + s2)
check_len("One", "Two")

One
Two

In [16]:
def check_odd_even(n):
    if n%2 == 0:
        print("Even Number")
    else:
        print("Odd Number")
check_odd_even(4)

Even Number

In [17]:
def dictionary():
    mydict = {key: key*key for key in range(1, 4)}
    return mydict
print(dictionary())

{1: 1, 2: 4, 3: 9}

In [18]:
def mydict(l_num , h_num):
    my_dict = {key:key**2 for key in range(l_num, h_num + 1)}
    return my_dict

num1 = int(input("Pls Enter Lower Limit: "))
num2 = int(input("Pls Enter Higher Limit: "))
res = mydict(num1, num2)
print(res)
print(type(res))

Pls Enter Lower Limit: 1
Pls Enter Higher Limit: 9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
<class 'dict'>

In [19]:
def mydict(l_num , h_num):
    my_dict = {key:key**2 for key in range(l_num, h_num + 1)}
    return my_dict

num1 = int(input("Pls Enter Lower Limit: "))
num2 = int(input("Pls Enter Higher Limit: "))
res = mydict(num1, num2)
print(res.values())
for index,values in res.items():
    print(values)
print(type(res))

Pls Enter Lower Limit: 9
Pls Enter Higher Limit: 17
dict_values([81, 100, 121, 144, 169, 196, 225, 256, 289])
81
100
121
144
169
196
225
256
289
<class 'dict'>

In [20]:
def mylist(num_1, num_2 ):
    my_list = [num*num for num in range(num_1, num_2 + 1)]
    return my_list
res = mylist(1,20)
print(res )

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [21]:
def PrintList():
    mylist = list(map((lambda n : n ** 2), range(1, 21)))
    return mylist[0:5]
PrintList()

[1, 4, 9, 16, 25]

In [22]:
def PrintList():
    mylist = list(map(lambda n: n**2, range(1, 21)))
    return mylist[-5:]
print(PrintList())

[256, 289, 324, 361, 400]

In [23]:
def PrintTuple():
    mytuple = tuple(range(1,21))
    return mytuple
PrintTuple()

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [24]:
def PrintTuple():
    mylist = [num for num in range(1, 11)]
    half = int(len(mylist)/2)
    tuple1 = tuple(mylist[0:half])
    tuple2 = tuple(mylist[half: len(mylist)])
    print(tuple1)
    print(tuple2)
PrintTuple()

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [25]:
# or
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) 
len(t)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [26]:
len(t)//2

5

In [27]:
t[:len(t)//2]

(1, 2, 3, 4, 5)

In [28]:
t[len(t)//2:]

(6, 7, 8, 9, 10)

In [29]:
def PrintTuple():
    t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) 
    out = []
    t1 = t[:len(t)//2]
    t2 = t[len(t)//2:]
    out.insert(0, t1)
    out.insert(1, t2)
    return out
res = PrintTuple()
print(f"The 1st Tupple: {res[0]} The 2nd Tupple: {res[1]}")

The 1st Tupple: (1, 2, 3, 4, 5) The 2nd Tupple: (6, 7, 8, 9, 10)

In [30]:
mylist = [num for num in range(1, 11)]

In [31]:
mytuple = tuple(filter(lambda n : n%2 == 0, mylist))

In [32]:
mytuple

(2, 4, 6, 8, 10)

In [33]:
choose = ""
while choose != "yes" and choose != "no" and choose != "y" and choose != "n":
    choose = input("Enter Yes or No: ").lower().strip()
    if choose == "yes" or choose == "y":
        print("Yes")
    elif choose == "no" or choose == "n":
        print("No")

Enter Yes or No: yes
Yes

In [34]:
mylist = list(range(1,11))

In [35]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
my_new_list = list(filter(lambda n: n%2 == 0, mylist))

In [37]:
final_list = list(map(lambda n: n**2, my_new_list))

In [38]:
print(final_list)

[4, 16, 36, 64, 100]

In [39]:
# we can combine this into one statement

In [40]:
final_list = list(map(lambda n: n**2, list(filter(lambda n: n %2 ==0, mylist))))

In [41]:
print(final_list)

[4, 16, 36, 64, 100]

In [42]:
mylist = list(range(1, 21))

In [43]:
new_list = list(filter(lambda n: n % 2 == 0, mylist))

In [44]:
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [45]:
my_new_list = list(map(lambda n: n**2, mylist))

In [46]:
print(my_new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]